# SFTP settings
SFTP_HOST=sftp.example.com
SFTP_USER=username
SFTP_PASS=password

# SMB settings
SMB_HOST=smbserver.local
SMB_SHARE=company
SMB_PATH=/path/on/share
SMB_USER=companydomain/username
SMB_PASS=password

# Cron Schedule Default 6:00 AM
# Value can be 0-23
CRON_SCHEDULE=6
